.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #242424;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
  background-color: #489add;
  font-style: italic;
}